/* already setup stuff */
button.btn { width:100%; }
.mediumcolumn { width:250px; padding:10px; }
.alert { color:red; }
.container { margin-top:30px; margin-bottom:30px; }
footer { margin-top:60px; }

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color:transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

/** MY STUFF **/

/* Origin Website Window */
.origin{/*basic origin page styling*/
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    padding: 20px 0 0 0;
    transition: 0.6s;
}

.origin-home{/*home page origin stylign*/
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    padding: 20px 0 10px 0;
    transition: 0.6s;
}

.origin-missioncontrol{/*missioncontrol page origin styling*/
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 20px 0 10px 0;
    transition: 0.6s;
}

.origin-dataview{/*dataview page origin styling --> still need to do*/

}

.origin-help{/*help page origin styling --> only do it if actually developing help page*/

}

/* Message CSS */
.message {/*styling for basic message returns from flask, js --> computer directly informing the user what's happening*/
    color: black;
    text-align: left;
    font-weight: bold;
}

/* Navigation Bar CSS */
.navbar {/*base navbar class*/
    position: static;
    background-color: transparent;
    width: 100%;
    height: auto;
    margin: 0 auto 0 auto;

}

.navbar-button-holder {/*class for centering set of navbar buttons*/
    width: auto;
    height: auto;
    background-color: transparent;
    margin: 10px auto auto auto;
}

.navbar-button {/*navbar button class*/
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 5px 20px; /*test to find whats best*/
    margin: 20px 30px; /*test to find whats best*/
    border-radius: 14px; /*might need to define border as none, probably change border*/
    cursor: pointer;    
    transition-duration: 0.4s;
}

.navbar-button:hover {/*creates differentiation, colour contrast and feedback to user input when interactable passed over*/
    background-color: white;
    color: black;
    text-decoration: none;
}

/* Home Page CSS */
/* Login CSS */
.login-container{/*container for login form, holds key components of login page*/
    height: auto;
    width: 40%;
    display: block;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    margin: auto;
    background-color: white; /*#979c9c; possible grey color for form container background*/
}

.form-header-container{/*container for the header/title of the login container*/
    height: auto;
    width: auto;
    margin: 20px auto 30px auto;
    color: black;
    text-align: center;  
    padding: 0 0 0 0;
    font-size: 20px;
}

.login-form-container{/*container for the form components of the login functionality*/
    display: block;
    height: auto;
    width: auto;
    margin: 10px auto 0 auto;
    text-align: center;
}

.login-form {/*styling for the login form*/
    display: block;
    height: auto;
    width: auto;
    margin: 20px auto 30px auto;
    text-align: center;
}


.login-table-form{/*styling for the login form, except in table format*/
    margin: 0 auto 0 auto;
}

.login-table-form label {/*styling the labelling of the form table*/
    margin: 10px 10px 0px 10px;
    text-align:left;
}

.login-table-form input {/*styling the input compnents of the form table*/
    width: 200px;
    margin: 10px 10px 0px 10px;
    padding: 5px 10px 5px 10px;
    text-align: left;
    color: gray;
    border-width: 1px;
    border-radius: 20px;
    border-color: gray;
    opacity: 0.5;
    transition: 0.5;
}

.login-table-form input:hover, input:focus {/*feedback to user interaction with website, passive*/
    color: black;
    border-width: 1px;
    border-radius: 20px;
    border-color:black;
    opacity: 1;
}

.login-form button {/*styling for login button, most buttons across this project utilise this basic concept, including an ofset opacity to juxtapose user interaction, as well as rounded edges for a smoother look*/
    height: auto;
    width: auto;
    border-radius: 20px;
    border-color: transparent;
    background-color: #3deb6b;
    color: white;
    opacity: 0.75;
    padding: 10px 40px 10px 40px;
    margin: 30px auto 0 auto;
    transition: 0.2s;
}

.login-form button:hover {/*login button feedback*/
    opacity: 1;
}

.form-instructions-container {/*container for form instructions*/
    text-align: left;
    color: black;
    margin: 20px;
}

.create-account-button {/*create account button styling*/
    display: inline;
    color: blue;
    border: none;
    background: none;
}

.create-account-button:hover {/*create account button feedback*/
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: blue;
}

/* Signup CSS*/
.modal{/*creates background for signup form*/
    display: none;
    position: fixed;
    z-index: 1;
    background-color: black;
    filter: opactity(0.3);
    /*opacity: 0.75;
    filter: blur(2px);*/
    transition-duration: 0.6s;
}

/*.origin-signup-transition {
    opacity: 0.75;
    filter: blur(2px);
    transition: 0.6;
}*/

.close {/*close button styling*/
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
    transition: 0.2s;
}

.close:hover, .close:focus{/*close button feedback*/
    color: #f44336;
    cursor: pointer;
}

.signup-container{/*container for all signup components*/
    width: 450px;
    height: auto;
    margin: 50px auto 0 auto;
    vertical-align: middle;
    border-radius: 15px;
    background-color: white;
    padding: 20px 20px 20px 20px;
}

.new-entry-form{/*base signup form*/
    width: auto;
    height: auto;
    margin: auto;
}

.new-entry-table-form {/*form constructed as table, basic signup form table styling*/
    margin: 0 auto 10px auto;
    width: auto;
}

.new-entry-table-form label{/*signup form label styling*/
    margin: 10px 10px 0px 0px;
    text-align:left;
}

.new-entry-table-form input {/*signup form input styling*/
    width: 240px;
    margin: 10px 10px 0px 0px;
    padding: 5px 10px 5px 10px;
    text-align: left;
    color: gray;
    border-width: 1px;
    border-radius: 20px;
    border-color: gray;
    opacity: 0.5;
    transition: 0.5;
}

.new-entry-table-form input:hover, input:focus {/* signup form input feedback, when field toggled*/
    color: black;
    border-width: 1px;
    border-radius: 20px;
    border-color:black;
    opacity: 1;
}

.userrole-select-container{/*container for user role part of signup*/
    padding: 10px;
    margin: 0px auto 20px auto;
    display: block;
    height: auto;
    width: auto;
    text-align: center;
}

.userrole-header-label{/*user role section header*/
    margin: 10px 0 0 0;
}

.userrole-table-form{/*table for organising the roles*/
    margin: 0 auto 0 auto;
}

.userrole-table-form label{/*label for user roles*/
    margin: 0 10px 0px 10px;
    text-align:left;
}

.userrole-table-form input{/*input fields are checkboxes*/
    margin: 0 10px 0 0;
}

.new-entry-form-button-container{/*container for signup form buttons, specifically signup and cancel*/
    margin: auto;
    width: 300px;
    color: white;
}

.new-entry-cancel-button {/*signup cancel button styling*/
    float: left;
    width: 50%;
    border: none;
    background-color: #f44336;
    opacity: 0.75;
    transition: 0.2s;
}

.new-entry-submit-button {/*signp submit button styling*/
    width: 50%;
    background-color: #3deb6b;
    border: none;
    opacity: 0.75;
    transition: 0.2s;
}

.new-entry-cancel-button:hover, .new-entry-submit-button:hover{/*singup modal button feedback*/
    opacity: 1;
}

/* Mision Control CSS*/
.mc-container{/*container for mission control*/
    height:auto;
    width:auto;
    margin:auto;
    background:transparent;
}

/*new mission*/
.modal{/*modal for new mission*/
    display: none;
    position: fixed;
    z-index: 1;
    /*opacity: 0.75;
    filter: blur(2px);*/
    transition-duration: 0.6s;
}

.mc-new-container{/*new mission container*/
    height: auto;
    width: 40%;
    display: block;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    margin: 200px auto 0 auto;
    background-color: white;
    opacity: 1;
}

.mc-new-mission-button{/*new mission button styling*/

}

.mc-end-mission-button{/*end mission button styling*/

}

/*control panel*/
.mc-control-panel-container{/*mission control panel base container*/
    height:200px;
    width:450px;
    margin: 0 auto 0 auto;
    background-color: white;
    border-color: transparent;
    border-radius: 16px;
}

.mc-control-panel-header-container{/*mission control panel control mode container, acts as header*/
    height:auto;
    width:auto;
    margin: 0, auto, 0 auto;
    text-align: center;
    /*background-color:gray;*/
}

.mc-control-panel-header-table{/*mision control panel control mode selector table*/
    width: 100%;
    text-align: center;
}

.mc-control-inactive-button{/*class of control type buttons which aren't currently activated/selected*/
    display: inline-block;
    margin: none;
    width: 150px;
    padding: 5px 5px 5px 5px;
    /*border-radius: 14px;*/
    border-color: transparent;
    border: none;
    background-color: grey;
    opacity: 0.5;
    color: black;
    text-align: center;
    transition: 0.3s;
}

.mc-control-inactive-button:hover{/*control type inactive button feedback*/
    opacity:1;
}

.mc-control-active-button{/*control type button active class*/
    display: inline-block;
    margin: none;
    width: 150px;
    padding: 5px 5px 5px 5px;
    /*border-radius: 14px;*/
    border-color: transparent;
    border: none;
    background-color: grey;
    opacity: 1;
    color: black;
    text-align: center;
    transition: 0.3s;
}

.mc-control-panel-control-active-container{/*mission control type active window container, holds the components for the active control type*/
    width: 100%;
    margin: auto;
    display: block;
}

.mc-control-panel-control-inactive-container{/*mission control type inactive window container, intended to make the control window disappear when new window changed, deprecated by style.display=none*/
    width: 100%;
    margin: auto;
    display: none;
}

.mc-control-manual-semiauto-grid{/*table styling for the manual, semiauto control types control panels*/
    width: 100%;
    margin: auto;
    text-align: center;
}

.mc-control-manual-semiauto-grid td{/*cell styling for manual/semiauto control types control panels*/
    width: 150px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.claw-button{/*claw button styling*/
    margin: auto auto 10px auto;
    padding: 5px 10px 5px 10px;
    border-radius: 24px;
    border-color: transparent;
    opacity: 0.75;
    background-color: #3b86ff;
    text-align: center;
    transition: 0.2s;
}

.mc-traversal-container{/*traversal button container/table*/
    margin: auto;
    text-align: center;
}

.mc-traversal-container td{/*cell styling for traversal button table/grid*/
    height: auto;
    width: auto;
    padding: 0 5px 0 5px;
}

.arrow {/*arrow styling for traversal buttons*/
    border: solid black;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 10px;
    opacity: 0.5;
    transition: 0.2s;
    background-color: transparent;
}
  
.right {/*right arrow styling*/
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
.left {/*left arrow styling*/
    padding: 10px, 10px, 0 0;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
  
.up {/*up arrow styling*/
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
  
.down {/*down arrow styling*/
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.stop-circle{/*stop button styling*/
    height:75px;
    width:75px;
    margin:10px auto 0 auto;
    border-radius:50%;
    border-color:transparent;
    opacity: 0.75;
    background-color:#ff2929;
    text-align:center;
    color:white;
    transition: 0.2s;
}

.shutdown-button{/*shutdown server button styling*/
margin: 5px auto auto auto;
    padding: 5px 10px 5px 10px;
    border-radius: 24px;
    border-color: transparent;
    opacity: 0.75;
    background-color: #2e3642;
    text-align: center;
    color: white;
    transition: 0.2s;
}

.claw-button:hover, .stop-circle:hover, .arrow:hover, .shutdown-button:hover{/*manual/semiauto control type button feedback (claw,stop,arrow,shutdown buttons)*/
    opacity: 1;
}

/*need to put in auto control panel css here!!!*/

