button.btn { width:100%; }
.mediumcolumn { width:250px; padding:10px; }
.alert { color:red; }
.container { margin-top:30px; margin-bottom:30px; }
footer { margin-top:60px; }

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color:transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

/* Origin Website Window */
.origin{
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    padding: 20px 0 0 0;
    transition: 0.6s;
}

.origin-home{
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    padding: 20px 0 0 0;
    transition: 0.6s;
}

.origin-missioncontrol{
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 20px 0 0 0;
    transition: 0.6s;
}

.origin-dataview{

}

/* Message CSS */
.message {
    color: black;
    text-align: left;
    font-weight: bold;
}

/* Navigation Bar CSS */
.navbar {/*base navbar class*/
    position: static;
    background-color: transparent;
    width: 100%;
    height: auto;
    margin: 0 auto 0 auto;

}

.navbar-button-holder {/*class for centering set of navbar buttons*/
    width: auto;
    height: auto;
    background-color: transparent;
    margin: 10px auto auto auto;
}

.navbar-button {/*navbar button class*/
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 5px 20px; /*test to find whats best*/
    margin: 20px 30px; /*test to find whats best*/
    border-radius: 14px; /*might need to define border as none, probably change border*/
    cursor: pointer;    
    transition-duration: 0.4s;
}

.navbar-button:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

/* Home Page CSS */
/* Login CSS */
.login-container{
    height: auto;
    width: 40%;
    display: block;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    margin: auto;
    background-color: white; /*#979c9c; possible grey color for form container background*/
}

.form-header-container{
    height: auto;
    width: auto;
    margin: 20px auto 30px auto;
    color: black;
    text-align: center;  
    padding: 0 0 0 0;
    font-size: 20px;
}

.login-form-container{
    display: block;
    height: auto;
    width: auto;
    margin: 10px auto 0 auto;
    text-align: center;
}

.login-form {
    display: block;
    height: auto;
    width: auto;
    margin: 20px auto 30px auto;
    text-align: center;
}


.login-table-form{
    margin: 0 auto 0 auto;
}

.login-table-form label {
    margin: 10px 10px 0px 10px;
    text-align:left;
}

.login-table-form input {
    width: 200px;
    margin: 10px 10px 0px 10px;
    padding: 5px 10px 5px 10px;
    text-align: left;
    color: gray;
    border-width: 1px;
    border-radius: 20px;
    border-color: gray;
    opacity: 0.5;
    transition: 0.5;
}

.login-table-form input:hover, input:focus {
    color: black;
    border-width: 1px;
    border-radius: 20px;
    border-color:black;
    opacity: 1;
}

.login-form button {
    height: auto;
    width: auto;
    border-radius: 20px;
    border-color: transparent;
    background-color: #3deb6b;
    color: white;
    opacity: 0.75;
    padding: 10px 40px 10px 40px;
    margin: 30px auto 0 auto;
    transition: 0.2s;
}

.login-form button:hover {
    opacity: 1;
}

.form-instructions-container {
    text-align: left;
    color: black;
    margin: 20px;
}

.create-account-button {
    display: inline;
    color: blue;
    border: none;
    background: none;
}

.create-account-button:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: blue;
}

/* Signup CSS*/
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    background-color: black;
    filter: opactity(0.3);
    /*opacity: 0.75;
    filter: blur(2px);*/
    transition-duration: 0.6s;
}

/*.origin-signup-transition {
    opacity: 0.75;
    filter: blur(2px);
    transition: 0.6;
}*/

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
    transition: 0.2s;
}

.close:hover, .close:focus{
    color: #f44336;
    cursor: pointer;
}

.signup-container{
    width: 450px;
    height: auto;
    margin: 50px auto 0 auto;
    vertical-align: middle;
    border-radius: 15px;
    background-color: white;
    padding: 20px 20px 20px 20px;
}

.new-entry-form{
    width: auto;
    height: auto;
    margin: auto;
}

.new-entry-table-form {
    margin: 0 auto 10px auto;
    width: auto;
}

.new-entry-table-form label{
    margin: 10px 10px 0px 0px;
    text-align:left;
}

.new-entry-table-form input {
    width: 240px;
    margin: 10px 10px 0px 0px;
    padding: 5px 10px 5px 10px;
    text-align: left;
    color: gray;
    border-width: 1px;
    border-radius: 20px;
    border-color: gray;
    opacity: 0.5;
    transition: 0.5;
}

.new-entry-table-form input:hover, input:focus {
    color: black;
    border-width: 1px;
    border-radius: 20px;
    border-color:black;
    opacity: 1;
}

.userrole-select-container{
    padding: 10px;
    margin: 0px auto 20px auto;
    display: block;
    height: auto;
    width: auto;
    text-align: center;
}

.userrole-header-label{
    margin: 10px 0 0 0;
}

.userrole-table-form{
    margin: 0 auto 0 auto;
}

.userrole-table-form label{
    margin: 0 10px 0px 10px;
    text-align:left;
}

.userrole-table-form input{
    margin: 0 10px 0 0;
}

.new-entry-form-button-container{
    margin: auto;
    width: 300px;
    color: white;
}

.new-entry-cancel-button {
    float: left;
    width: 50%;
    border: none;
    background-color: #f44336;
    opacity: 0.75;
    transition: 0.2s;
}

.new-entry-submit-button {
    width: 50%;
    background-color: #3deb6b;
    border: none;
    opacity: 0.75;
    transition: 0.2s;
}

.new-entry-cancel-button:hover, .new-entry-submit-button:hover{
    opacity: 1;
}

/* Mision Control CSS*/
/*new mission*/
.mc-container{
    height:auto;
    width:auto;
    margin:auto;
    background:transparent;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    /*opacity: 0.75;
    filter: blur(2px);*/
    transition-duration: 0.6s;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
    transition: 0.2s;
}

.close:hover, .close:focus{
    color: #f44336;
    cursor: pointer;
}

.mc-new-container{
    height: auto;
    width: 40%;
    display: block;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    margin: 200px auto 0 auto;
    background-color: white;
    opacity: 1;
}

.mc-new-mission-button{

}

.mc-end-mission-button{

}

/*control panel*/
.mc-control-panel-container{
    height:auto;
    width:300px;
    margin: 0 auto 0 auto;
    background-color: green;
    border-color: transparent;
    border-radius: 15px;
}

.mc-control-panel-header-container{
    height:auto;
    width:auto;
    margin: 0, auto, 0 auto;
    text-align: center;
    background-color:gray;
    opacity:0.5;
}

.mc-control-inactive-button{
    color: black;
    text-align: center;
    background-color: gray;
    opacity: 0.5;
    transition: 0.3s;
    margin:auto;
    display: inline-block;
    text-align: center;
    width: 100px;
    border: none;
    padding: auto;
}

.mc-control-active-button{
    color: black;
    text-align: center;
    background-color: gray;
    opacity: 1;
    display: inline-block;
    text-align: center;
    width: 100px;
    border: none;
    transition: 0.3s;
    padding:auto;
}
