<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BrickPiFlask</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/scripts/jsonrequesthandler.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="origin">
        <!-- Top navigation bar, common across all pages-->
        <nav class="navbar"><!-- navbar, navbar buttons-->
            <div class="navbar-button-holder">
                <a href="/" class="navbar-button">Home</a>
                <a href="/missioncontrol" class="navbar-button">Mission Control</a>
                <a href="/dataview" class="navbar-button">Data View</a>
                <a href="/help" class="navbar-button">Help</a>
            </div>
        </nav>
        <br>
        {% block content %}{% endblock %} <!-- Container for Content -->
    </div>
</body>
   {% block scripts %}{% endblock %} <!-- Container for Scripts-->
</html>
