{% extends "layout.html" %}

<!-- Main website html -->
{% block content %}


<!--Mission control-->

<h2>Sample Web Interface using Bootstrap</h2><br/>
<p>The buttons when clicked run a special script that can be used to send data to the server without a form (and the necessary page refresh). This helper script uses JSON (a method of sending complex data through text encoding).</p>
<p>The helper function can be used as follows <b>JSONrequest</b>(/url, "POST",name_of_callback_function, {var1:"value1",var2:"value2"...})</p><p><i>The callback function receives a result object that contains response data.</i></p><p>A simpler call can be made: <b>JSONrequest</b>(/url, "POST") if you do not wish to send or receive data.</p>
<h3>Voltage = {{voltage}}</h3>
<div class="container">
    <div class="row">
        <h3 id="message"></h3>
    </div>
    <button type="button" class="btn btn-dark" onclick="shutdownserver();">Shutdown Server</button>
    <!--
    <div class="container">
      <button type="button" class="mc-new-mission-button" onclick="new_mission_window()">New Mission</button>
      <button type="button" class="mc-end-mission-button" onclick="end_mission()">End Mission</button>   
          <div class="row text-center">
          <div class="col-4">
            <button type="button" class="btn btn-success" onclick="JSONrequest('/forward','POST')">Forward</button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-success" onclick="JSONrequest('/backward','POST')">Reverse</button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-success" onclick="JSONrequest('/t_right','POST')">Right</button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-success" onclick="JSONrequest('/t_left','POST')">Left</button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-success" onclick="JSONrequest('/claw_open','POST')">Open Claw</button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-success" onclick="JSONrequest('/claw_close','POST')">Close Claw</button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-danger" onclick="JSONrequest('/stop','POST')">Stop</button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-dark" onclick="shutdownserver();">Shutdown Server</button>
          </div>
        </div>
      </div>
    -->
</div>

<!-- Control Panel -->
<div class='mc-control-panel-container'>
  <div class='mc-control-panel-header-container'><!--control panel header, used to change control states-->
    <table class="mc-control-panel-header-table">
      <tr>
        <td><button class="mc-control-active-button" id='control-manual' onclick="control_manual()">Manual</button></td>
        <td><button class="mc-control-inactive-button" id='control-semiauto' onclick="control_semiauto()">Semi-Auto</button></td>
        <td><button class="mc-control-inactive-button" id='control-auto' onclick="control_auto()">Auto</button></td>
    </table>
  </div>
  <!--manual control container_need to be able to switch between different divs, that are in the same place via header options.-->
  <div class="mc-control-panel-control-active-container" id="mc-control-manual/semiauto"><!--manual/semiauto control container, basically containing same elements, just do different things according to control_state-->
    <table class="mc-control-manual-semiauto-grid">
      <td>
          <button type="button" class="claw-button" onclick="JSONrequest('/claw_open','POST')">Open Claw</button>
          <button type="button" class="claw-button" onclick="JSONrequest('/claw_close','POST')">Close Claw</button>
      </td>
      <td>
        <div class="mc-traversal-container">
          <button type="button" class="btn btn-success" onclick="JSONrequest('/forward','POST')">Forward</button>
          <button type="button" class="btn btn-success" onclick="JSONrequest('/backward','POST')">Reverse</button>
          <button type="button" class="btn btn-success" onclick="JSONrequest('/t_right','POST')">Right</button>
          <button type="button" class="btn btn-success" onclick="JSONrequest('/t_left','POST')">Left</button>
        </div>
      </td>
      <td>
        <div class="mc-stop-container">
          <button type="button" class="btn btn-danger" onclick="JSONrequest('/stop','POST')">Stop</button>
        </div>
      </td>  
    </table>
  </div>
  <div class="mc-control-panel-control-inactive-container" id="mc-control-auto"><!--auto control container-->

  </div>
</div>


<!-- New Mission Entry -->
<div id="mc-new" class='modal'><!--box containing signup stuff-->
  <span onclick="document.getElementById('mc-new').style.display='none'" class="close" title="Close Modal">x</span>   
  <div class="mc-new-container">
      <div class="form-header-container">
          New Mission
      </div>
      <div class="form-instructions-container">
          To create a mission, please complete this form.
      </div>
      <form class="new-entry-form" id="signup-form" action="/" method="POST">
          <table class="new-entry-table-form">
              <tr>
                  <td><label for="mc_address">Address:</label></td>
                  <td><input type="text" name="mc_address" id="mc_address" value='' placeholder="Please enter incident address" required></td>
              </tr>
              <tr>
                  <td><label for="mc_postcode">Postcode:</label></td>
                  <td><input type="text" name="mc_postcode" id="mc_postcode" value='' placeholder="Please enter incident postcode" required></td>
              </tr>
              <tr>
                <td><label for="mc_description">Description:</label></td>
                <td><input type="text" name="mc_description" id="mc_description" value='' placeholder="Use this space to enter a description" required></td>
            </tr>
          </table>
          <div class="new-entry-form-button-container"><!--might need to use a clearfix div if appearance messes up-->
              <button type="button" onclick="document.getElementById('mc-new').style.display='none'" class='new-entry-cancel-button'>Cancel</button>
              <button type="button" id="mc-new-form-button" class="new-entry-submit-button" onclick="new_mission()">New Mission</button>
              <br><p class="message" id="mc-new-message"></p>
          </div>
      </form>   
  </div>

{% endblock %}

{% block scripts %}
<script src="/static/scripts/hsv.js"></script>
<script src="/static/scripts/pen.js"></script>
<script src="/static/scripts/missioncontrol.js"></script>
{% endblock %}
